.blue-eyes{
	fill:#333399;
}
.buttons button{padding:10px 16px;background-color:#669999;border:1.5px solid #ccc;cursor:pointer;border-radius:4px;color:#fff;font-size:16px}
.sad{
	transform: scale(.5) rotate(180deg);
	transform-origin: 340px 399px; /*left to right - down*/
}
.move-around{
	animation:moveEyes 5s infinite;
}

@keyframes moveEyes{
	20%{transform:translate(-18px,-20px)}
	40%{transform: translate(0,0);}
	65%{transform:translate(18px,-20px)}
}
@keyframes {

}
